root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[*.json]
indent_size = 2

[*.nix]
indent_size = 2

[*.saty]
indent_style = tab
indent_size = 4

[*.satyh]
indent_style = tab
indent_size = 4

[*.satysfi-hash]
insert_final_newline = false
